/* OVERALL */
html {
	width: 100%;
	height: 100%;
}

body{
	margin: 100px;
	background-color:silver;
	background-image: 
	radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
	radial-gradient(circle at 0    150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
	radial-gradient(circle at 50%  100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent),
	radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent),
	radial-gradient(circle at 0    50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
	background-size:100px 50px;
}

/* TITLE & FORMATTING */
.title-color-font{
	font-family: "Fontdiner Swanky", "Lobster";
	font-color:#233E74;
}
.body-title-color-font{
	font-color: #778EAA;
}
h3{
	font-family: "Walter Turncoat";
}

/*TEXT AND CHOICES*/
.question-div{
	background-color:#F0F7FF;
	border-top-right-radius: 1em;
	border-bottom-left-radius: 1em;
	padding: 25px;
	border-radius: 2em;
}
.images{
	float: right;
	width: 45%;
	display: inline-block;
	clear: both;
	border-radius:0.5em;
	margin-top:40px;
	padding: 0;
	/*float:right;
	width: 35%;
	display:inline-block;
	margin-left: 40px;*/
}
.questions{
	/*float: left;*/
	width: 50%;
	display: inline-block;
	padding: 0;
	/*float:left;
	width: 35%;
	display: inline-block;*/
	font-size: 17px;
}
.choice-div{
	float: bottom;
}
.choice-header{
	font-family: "Walter Turncoat";
	font-size:18px;
}
.choice-desc{
	font-size:16px;
}
#made-by {
	margin-top: 100px;
}

